
.winky-rough-<uniquifier> {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@keyframes move-waves {
  0% {
    background-position: 0% 0%;
  }
  100% {
    /* Moves the pattern from right to left */
    background-position: -200% 0%;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Winky Rough", sans-serif;
}


body {
    min-height: 100vh;
    width: 100%;
    backdrop-filter: blur(2.5px);
    background-color: #000;
    background-image: url(https://raw.githubusercontent.com/YukiAdria/Discord/refs/heads/Resources/a_b3aeb7b8e2108c486b12605bcda43c26.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0.8%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    opacity: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-size: 23px;
    letter-spacing: -1.5px;
    color:tomato;
    text-decoration: none;
    font-weight: 600;    
    border: 2.5px solid ;
    border-radius: 20px;
    color: #000;
    padding: 0.8%;
    overflow: hidden;
    
}

.logo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://raw.githubusercontent.com/YukiAdria/Discord/refs/heads/Resources/ocean.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0.75px);
    z-index: -2;
    border-radius: inherit;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Creates an endless pattern of diagonal sheens */
  background: repeating-linear-gradient(
    -90deg, /* Angle of the waves */
    transparent,
    transparent 10%,
    rgba(255, 255, 255, 0.2) 15%,
    transparent 20%
  );

  /* Make the pattern twice as wide to ensure a seamless loop */
  background-size: 200% 100%;

  /* Apply the animation */
  animation: move-waves 7s linear infinite;
}


.home {
    height: 100vh;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 15%;
    
}

.home-content {
    max-width: 600px;

}

.home-content h1 {
    font-size: 35px;
    font-weight: 950;
    line-height: 2.5;
}

.home-content h4 {
font-size: 11px;
    font-weight: 150;
}

.home-content h3 {
    font-size: 25px;
    font-weight: 100;
    text-decoration: none;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 45px;
    gap: 25px;
}


.glassy-button {
    --_padding: 1rem 1.5rem;
    --_transition-speed: 200ms;
    --_hover-opacity: 0.4;
    --_pressed-opacity: 0.15;
    --_hover-blurriness: 5px;
    --_pressed-blurriness: 10px;
    --_frostiness: 0.3;
    --_hover-offset: 0.5rem;
    --_pressed-offset: 0.25rem;
    --_motion-factor: 0.1;

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
    padding: 0;
    border: 2.5px solid;
    border-radius: 15px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: -1.3px;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    overflow: visible;
}

.glassy-button span {
    display: block;
    width: 100%;
    height: 100%;
    padding: var(--_padding);
    border-radius: inherit;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0px);
    transition: background-color var(--_transition-speed),
                backdrop-filter var(--_transition-speed),
                translate var(--_transition-speed);
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glassy-button span::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url("data:image/svg+xml, %3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 171 171' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.74' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0;
    transition: opacity var(--_transition-speed);
    border-radius: inherit;
}

.glassy-button::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    background-image: url(https://raw.githubusercontent.com/YukiAdria/Discord/refs/heads/Resources/1681128078_1021640_gif-url.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: scale var(--_transition-speed),
                translate var(--_transition-speed);
    animation: exit-motion forwards var(--_transition-speed);
}

.glassy-button:hover span,
.glassy-button:focus-visible span {
    outline: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, var(--_hover-opacity));
    backdrop-filter: blur(var(--_hover-blurriness));
    -webkit-backdrop-filter: blur(var(--_hover-blurriness));
    translate: 0 calc(var(--_hover-offset) * -1);
}

.glassy-button:hover span::before,
.glassy-button:focus-visible span::before {
    opacity: var(--_frostiness);
}

.glassy-button:hover::after,
.glassy-button:focus-visible::after {
    scale: 0.95;
    translate: 0 0.125rem;
    animation: enter-motion forwards var(--_transition-speed);
}

.glassy-button:active span {
    backdrop-filter: blur(var(--_pressed-blurriness));
    -webkit-backdrop-filter: blur(var(--_pressed-blurriness));
    background-color: rgba(255, 255, 255, var(--_pressed-opacity));
    translate: 0 calc(var(--_pressed-offset) * -1);
}

.glassy-button:active::after {
    scale: 0.875;
    translate: 0 0.25rem;
}

@keyframes enter-motion {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(
            calc(var(--_x-motion) * var(--_motion-factor) * -1),
            calc(var(--_y-motion) * var(--_motion-factor) * -1)
        );
    }
}

@keyframes exit-motion {
    from {
        transform: translate(
            calc(var(--_x-motion) * var(--_motion-factor) * -1),
            calc(var(--_y-motion) * var(--_motion-factor) * -1)
        );
    }
    to {
        transform: translate(0, 0);
    }
}